%h1.motto
  Programovací jazyk <strong>Ruby</strong> a jeho <strong>účelnost</strong> zařazení do výuky.
#sections
  .section{ :class => "grid_4 suffix_1 first" }
    %h2
      Obsah
    .thesis-menu
      =list_thesis_menu
  .section{ :class => "grid_9 last" }
    %h2
      Diplomová práce
    .navigation
      =previous_chapter_link(@chapter)
      =next_chapter_link(@chapter)
    .chapter-content  
      %h3
        Vysoká škola ekonomická v Praze
      %p
        %strong
          Fakulta informatiky a statistiky
        %br
        %strong
          Katedra informačních technologií
      %p
        %strong
          Studijní program:
        Aplikovaná informatika
        %br
          %strong
            Obor:
          Informační systémy a technologie          
      %p
        %strong
          Diplomant:
        Bc. Tomáš Porazil
        %br
        %strong
          Vedoucí diplomové práce:
        Ing. Rudolf Pecinovský, CSc.
        %br
        %strong
          Oponent diplomové práce:
        Ing. Vladimír Oraný

      
  